In [89]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import math
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.model_selection import cross_val_score
# from sklearn import preprocessing

df = pd.read_csv('./data/merged_matched_full.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,cert,docket,fed_rssd,rssdhcr,name,city,stalp,...,SZUCCI,SZUCOTH,UCSZRES,UCSZHEL,UCSZCRCD,UCSZAUTO,UCSZCON,UCSZCI,UCSZOTH,splticrm
0,0,0,12,35456,0,2920773,3118513,1st Colonial National Bank,Collingswood,NJ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BBB-
1,1,1,333,5296,0,917742,1199563,"Associated Bank, National Association",Green Bay,WI,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BBB+
2,2,2,334,29805,4115,482772,0,Astoria Federal Savings and Loan Association,Long Island City,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB
3,3,3,381,19919,0,170716,1391237,Banco Bilbao Vizcaya Argentaria Puerto Rico,San Juan,PR,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SD
4,4,4,383,34968,0,940311,1129382,Banco Popular de Puerto Rico,Hato Rey,PR,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BBB+

# Beginning of Processing Part

In [90]:
def my_describe(col_name):
    print(df[col_name].describe())
    print(df[col_name].value_counts(dropna=False))
    print(df[col_name].hist())
#     df['asset'].plot(kind='line')

# Convert all missing values in the specified column to the median
def missing_median(df, name):
    med = df[name].median()
    df[name] = df[name].fillna(med)
    
def fill_zero(name):
    df[name] = df[name].fillna(0)

In [91]:
missing_median(df, 'lnlsgrf')
missing_median(df, 'lnconfor')
missing_median(df, 'lncifor')
missing_median(df, 'IDdepsam')
df['lncontra'] = df['lncontra'].fillna(0)

In [92]:
df['Log(asset)'] = df['asset'].apply(lambda x: math.log(x)) 
df['Log(numemp)'] = df['numemp'].apply(lambda x: math.log(x)) # log(Total employees)
df['liab/eqtot'] = df['liab'] / df['eqtot']  # Total Liabilities/Total equity capital 
df['(rbct1j+rbct2)/RWAJT'] = (df['RBCT1J'] + df['RBCT2']) / df['RWAJT']  # (Tier 1 capital + Tier 2 Risk-based capital) / Total risk weighted assets adjusted 
df['scpt3les/scrdebt'] = df['scpt3les'] / df['scrdebt']  # 3 months or less debt securities / Total debt securities 
df['scpt3t12/scrdebt'] = df['scpt3t12'] / df['scrdebt']  # Over 3 months through 12 months / Total debt securities
df['scpt1t3/scrdebt'] = df['scpt1t3'] / df['scrdebt']  # Over 1 year through 3 years / Total debt securities
df['scpt3t5/scrdebt'] = df['scpt3t5'] / df['scrdebt']  # Over 3 years through 5 years / Total debt securities
df['scpt5t15/scrdebt'] = df['scpt5t15'] / df['scrdebt']  # Over 5 years through 15 years /Total debt securities
df['scptov15/scrdebt'] = df['scptov15'] / df['scrdebt']  # Over 15 years / Total debt securities
df['lncontra/lnlsgrf'] = df['lncontra'] / df['lnlsgrf']  # Unearned income / Total loans and leases 
df['lnconfor/lnlsgrf'] = df['lnconfor'] / df['lnlsgrf']  # Loans to individuals / Total loans and leases
df['lncifor/lnlsgrf'] = df['lncifor'] / df['lnlsgrf']  # Commercial and industrial loans / Total loans and leases
df['depidom/dep'] = df['depidom'] / df['dep']  # Interest-bearing deposits / Total deposits
df['IDdepsam/dep'] = df['IDdepsam'] / df['dep']  # Amount ($) - deposit accounts equal to or less than $250,000 / Total deposits
df['p3asset/p9asset'] = df['p3asset'] / df['p9asset']  # Assets past due 30-89 days / Assets past due 90 or more days
df['p3ci/p9ci'] = df['p3ci'] / df['p9ci']  # Commercial and industrial loans, past due 30 - 89 days / Commercial and industrial loans, past due 90+ days 
df['p3con/p9con'] = df['p3con'] / df['p9con']  # Loans to individuals, past due 30 - 89 days / Loans to individuals, past due 90+ days

In [93]:
fill_zero('scpt3les/scrdebt')
fill_zero('scpt3t12/scrdebt')
fill_zero('scpt1t3/scrdebt')
fill_zero('scpt3t5/scrdebt')
fill_zero('scpt5t15/scrdebt')
fill_zero('scptov15/scrdebt')
# since 0/0 will result in nan, we replace all such nan value with zero.
fill_zero('lncontra/lnlsgrf')
fill_zero('lnconfor/lnlsgrf')
fill_zero('lncifor/lnlsgrf')
fill_zero('p3asset/p9asset')
fill_zero('p3ci/p9ci')
fill_zero('p3con/p9con')

# End of Processing Part

In [94]:
# df.iloc[:,1187:1205].isna().sum()

Log(numemp)             0
liab/eqtot              0
(rbct1j+rbct2)/RWAJT    0
scpt3les/scrdebt        0
scpt3t12/scrdebt        0
scpt1t3/scrdebt         0
scpt3t5/scrdebt         0
scpt5t15/scrdebt        0
scptov15/scrdebt        0
lncontra/lnlsgrf        0
lnconfor/lnlsgrf        0
lncifor/lnlsgrf         0
depidom/dep             0
IDdepsam/dep            0
p3asset/p9asset         0
p3ci/p9ci               0
p3con/p9con             0
dtype: int64